---
import { type Lang } from "$components/editor/lang-support.ts";
import FulguriteFence from "$components/marco/FulguriteFence.astro";
import { Foil } from "$react/Foil";
import { parseInfo } from "$components/Fencey.tsx";

interface Props {
    content: string;
    language: Lang;
}

const { content, language: infoString } = Astro.props;
const { state, config } = parseInfo(infoString);
---

{
    state == "fence" && (
        <div class="not-prose text-sm">
            <Foil code={content} lineGroup={{}} fenceConfig={config} />
        </div>
    )
}

{state == "fulgurite" && <FulguriteFence content={content} config={config} />}
