---
import BaseLayout from "$layouts/BaseLayout.astro";
import { getEntry } from "astro:content";

import { baseCSS, nordCSS } from "$components/editor/cssgen.ts";
const entry = await getEntry("blog", "intro");
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <style set:html={baseCSS}></style>
  <style set:html={nordCSS}></style>
  <main
    class="md:prose-md container prose prose-invert mx-auto max-w-4xl px-4 pt-6 prose-p:hyphens-auto prose-p:break-words prose-p:text-justify"
  >
    <Content />
  </main>
</BaseLayout>
